{% extends "layout.twig" %}

{% block content %}
    <div id="main" role="main">
        <div class="container">
            {% if "now"|date("U") >= meta.publish_date|date("U") or meta.show_always %}
                {{ content }}
            {% else %}
                Hier gibt es noch nichts zu sehen...
            {% endif %}
        </div>
    </div>
{% endblock %}
