{% extends "layout.twig" %}

{% block content %}
    <div id="main" role="main">
        <div class="container">
            {% if "now"|date("U") >= meta.publish_date|date("U") or meta.show_always or pages['_meta'].meta.debug %}
                {{ content }}
            {% else %}
                Hier gibt es noch nichts zu sehen...
                <img src="{{ theme_url }}/img/santa_silhouette.svg"</img>
            {% endif %}
        </div>
    </div>
{% endblock %}
