{% extends "layout.twig" %}

{% block homelink %}
{% endblock %}

{% block content %}

<ul class="doors-container">
{% for page in pages("doors")|sort_by(["meta", "order"]) %}
<li class="door">
{% if "now"|date("U") >= page.meta.publish_date|date("U") or page.meta.show_always or pages['_meta'].meta.debug %}
<a class="door-link" href="{{ page.url }}">{{ page.meta.day_nr }}</a>
{% else %}
<a class="door-link inactive" href="#">{{ page.meta.day_nr }}</a>
{% endif %}
</li>
{% endfor %}
</ul>

<p>
{% if pages['_meta'].meta.debug %}
debug mode on
{% endif %}
</p>

{% endblock %}

{% block styles %}
content-container {
    background-image: url({{ assets_url }}/pics/common/christmas-tree-clip-art_f.jpg);
}
{% endblock %}
